<!DOCTYPE html>


<html lang = 'en'>
<head>

<meta charset = "utf-8">
<meta description = "website" content ="This will be the beginning of a web app">


<script src="//static.opentok.com/v2/js/opentok.min.js" ></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet"  href="/css/app.css">

</head>
<body class = "container">
 
<div class="panel-heading">
          <h3 class="panel-title">Chat with Kevin</h3>
        </div>
        <div class="panel-body video-holder">
          <div class="subscriber"></div>
          <div class="publisher"></div>
          <div class="bottom-bar">
            <button type="button" class="btn btn-danger end-button">End Chat</button>
          </div>
          <div class="waiting">
            <div class="spinner"></div>
            <p>Waiting for Kevin</p>
          </div>
          <div class="ending hidden">
            <p>Your chat with Kevin has ended</p>
          </div>
   
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src = "/js/app.js"></script>
</body>





</html>